@charset "utf-8";
@import url(reset.css);
@import url(common.css);

/* skip nav */
#skip a {position: absolute; left: 0; top: -74px; background: #000; padding: 8px 20px; z-index: 999; color: #fff; font-size: 16px;}
#skip a:focus,
#skip a:active {position: absolute; top: 74px;}

/* layout */
#main {position: relative; width: 100%; height: 100vh; overflow: hidden;}
#slider {}
#box {margin: 100px 0;}
#product {margin-bottom: 100px;}
#photo {margin-bottom: 100px;}

/* main */
.main {width: 100%; height: 100vh; background: url(../img/main.jpg) no-repeat center 60%; animation: zoom 15s ease-in-out infinite forwards; background-size: cover;}
@keyframes zoom {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}
.name {position: absolute; right: 40px; bottom: 40px; transform: scale(1);}
.name h2 {position: relative; color: #fff; font-size: 30px; text-align: right; border: 2px solid #fff; padding: 8px 80px 8px 20px; border-radius: 50px; transition: all .3s;}
.name h2::after {content: ''; position: absolute; right: 20px; top: 20px; width: 24px; height: 24px; background: url(../img/arrow_w.png) no-repeat; background-size: cover; transform-origin: center; transform: rotate(-90deg);}
.name h2:hover {color: #000; background: #fff;}
.name h2:hover::after {background: url(../img/arrow.png) no-repeat; background-size: cover;}

/* slider */
.swiper-slide figure img {transition: all .2s;}
.swiper-slide figure:hover img {opacity: .8;}

/* box */
.box ul li {position: relative; width: 49.5%; margin-bottom: 1%; background: #000;}
.box ul li:nth-child(1) {float: left;}
.box ul li:nth-child(2) {float: right;}
.box ul li:nth-child(3) {float: left;}
.box ul li:nth-child(4) {float: right;}
.box ul li .b1 {background: url(../img/tableware.jpg) no-repeat center center; background-size: cover; height: 440px; opacity: .85;}
.box ul li .b2 {background: url(../img/cookware.jpg) no-repeat center center; background-size: cover; height: 520px; opacity: .85;}
.box ul li .b3 {background: url(../img/dinette.jpg) no-repeat center center; background-size: cover; height: 600px; opacity: .85;}
.box ul li .b4 {background: url(https://cdn.imweb.me/thumbnail/20200305/e6662015da481.jpg) no-repeat center center; background-size: cover; height: 520px; opacity: .85;}
.box ul li span {position: absolute; right: 50%; bottom: 50%; width: 100%; padding: 0 60px; box-sizing: border-box; font-size: 48px; transform: translate(50%, 50%); text-align: center; color: #fff; text-shadow: 2px 2px 2px rgba(0,0,0,.3); text-transform: uppercase; font-weight: 700;}
.box ul li em {position: absolute; right: 50%; bottom: 60%; transform: translate(50%, 50%); text-transform: uppercase; font-weight: 700; opacity: 0; transition: all .3s; color: #fff; border-bottom: 1px solid #fff;}
.box ul li:hover em {opacity: 1;}

/* product */
.product {text-align: center;}
.product ul {margin-bottom: 20px;}
.product ul li {position: relative; float: left; width: 24%; margin-right: 1.3%; margin-bottom: 3%; text-align: center;}
.product ul li:nth-child(4n) {margin-right: 0;}
.product ul li a {font-size: 15px; font-family: 'Nanum Gothic', sans-serif; color: #555; word-break: keep-all;}
.product ul li span {display: block; font-size: 13px; text-transform: uppercase; margin-bottom: 4px; color: #aaa;}
.product ul li img {margin-bottom: 6px; transition: all .2s;}
.product ul li:hover img {opacity: .3;}
.product ul li::before {content: ''; width: 40px; height: 3px; border-radius: 5px; background: #666; position: absolute; left: 100%; top: 42%; transform: translate(-50%, -50%); z-index: 1; opacity: 0; transition: all .2s;}
.product ul li::after {content: ''; width: 3px; height: 40px; border-radius: 5px; background: #666; position: absolute; left: 50%; top: 0; transform: translate(-50%, -50%); z-index: 1; opacity: 0; transition: all .2s;}
.product ul li:hover::before {opacity: 1; left: 50%;}
.product ul li:hover::after {opacity: 1; top: 42%;}
.product .more a {color: #555; font-size: 18px; border: 1px solid #666; padding: 8px 50px; transition: all .2s;}
.product .more a:hover {color: #f8f8f8; background: #555;}

/* photo */
.photo {overflow: hidden; position: relative; height: 330px;}
.photo ul {width: 2504px; min-width: auto; padding: 30px 0; position: absolute; background: #F5EFEA;}
.photo ul.before {animation-name: animationBefore; animation-duration: 150s; animation-timing-function: linear; animation-iteration-count: infinite; animation-fill-mode: forwards;}
.photo ul.mid {animation-name: animationMid; animation-duration: 150s; animation-timing-function: linear; animation-iteration-count: infinite; animation-fill-mode: forwards;}
.photo ul.after {animation-name: animationAfter; animation-duration: 150s; animation-timing-function: linear; animation-iteration-count: infinite; animation-fill-mode: forwards;}
.photo ul li {display: inline-block; width: 270px; height: 270px; padding: 0 2px; vertical-align: top;}
.photo ul li figure {overflow: hidden; width: 100%; height: 100%;}
.photo ul li figure img {transition: all .3s ease-in-out;}
.photo ul li:hover figure img {transform: scale(1.1);}
@keyframes animationBefore {
    0% {transform: translate3d(0px, 0px, 0px);}
    50% {transform: translate3d(-2502px, 0px, 0px);}
    100% {transform: translate3d(0px, 0px, 0px);}
}
@keyframes animationMid {
    0% {transform: translate3d(2502px, 0px, 0px);}
    50% {transform: translate3d(0px, 0px, 0px);}
    100% {transform: translate3d(-2502px, 0px, 0px);}
}
@keyframes animationAfter {
    0% {transform: translate3d(5004px, 0px, 0px);}
    50% {transform: translate3d(2502px, 0px, 0px);}
    100% {transform: translate3d(0px, 0px, 0px);}
}








/* 미디어 쿼리 */
@media (max-width: 1290px){
    .product ul li {width: 32.333%;}
    .product ul li:nth-child(3n) {margin-right: 0;}
    .product ul li:nth-child(4n) {margin-right: 1.3%;}
    .product ul li:nth-child(12) {margin-right: 0;}
    .product ul li:last-child {display: none;}
}

@media (max-width: 1024px){
    #main {height: 700px;}
    .main {height: 700px;}
    
    .box ul li span {font-size: 38px;}
    .box ul li em {display: none;}
    
    .row {padding: 0 60px;}
    .product ul li::before {display: none;}
    .product ul li::after {display: none;}
    .product ul li:hover img {opacity: 1;}
}

@media (max-width: 960px){
    .row {padding: 0 30px;}
    
    .box ul li .b1 {height: 350px;}
    .box ul li .b2 {height: 420px;}
    .box ul li .b3 {height: 490px;}
    .box ul li .b4 {height: 420px;}
}

@media (max-width: 768px){
    #main {height: 600px;}
    .main {height: 600px;}
    
    .name {right: 30px; bottom: 30px;}
    .name h2 {font-size: 28px;}
    .name h2::after {top: 18px;}
    
    #box {margin: 60px 0;}
    .box ul li .b1 {height: 260px;}
    .box ul li .b2 {height: 320px;}
    .box ul li .b3 {height: 380px;}
    .box ul li .b4 {height: 320px;}
    .box ul li span {font-size: 30px;}
    
    #product {margin-bottom: 65px;}
    
    #photo {margin-bottom: 60px;}
}

@media (max-width: 600px){
    .row {padding: 0 16px;}
    
    #main {height: 450px;}
    .main {height: 450px;}
    
    .name {right: 20px; bottom: 20px;}
    .name h2 {font-size: 20px; padding: 6px 50px 6px 16px;}
    .name h2::after {width: 16px; height: 16px; top: 14px; right: 16px;}
  
    .box ul li .b1 {height: 180px;}
    .box ul li .b2 {height: 210px;}
    .box ul li .b3 {height: 210px;}
    .box ul li .b4 {height: 180px;}
    .box ul li span {font-size: 28px; line-height: 35px;}
    
    .product ul li {width: 49%; margin-bottom: 6%;}
    .product ul li:nth-child(2n) {margin-right: 0;}
    .product ul li:nth-child(3) {margin-right: 1.3%;}
    .product ul li:nth-child(9) {margin-right: 1.3%;}
    .product ul li:nth-child(15) {margin-right: 1.3%;}
    .product ul li:last-child {display: block;}
    .product ul li a {font-size: 14px;}
    .product .more a {font-size: 16px;}   
}

@media (max-width: 480px){
    #main {height: 320px;}
    .main {height: 320px;}

    .name {right: 16px; bottom: 16px;}
    .name h2 {font-size: 16px; border: 1px solid #fff; padding: 6px 40px 6px 16px;}
    .name h2::after {width: 12px; height: 12px; top: 12px;}
    
    #box {margin: 35px 0;}
    .box ul li {width: 49%; margin-bottom: 2%;}
    .box ul li span {font-size: 20px; line-height: 27px;}
    
    #product {margin-bottom: 45px;}
    .product ul {margin-bottom: 12px;}
    .product ul li {text-align: left;}
    
    #photo {margin-bottom: 35px;}
    .photo {height: 190px;}
    .photo ul {width: 1424px; padding: 20px 0;}
    .photo ul li {width: 150px; height: 150px;}
    
    @keyframes animationBefore {
        0% {transform: translate3d(0px, 0px, 0px);}
        50% {transform: translate3d(-1422px, 0px, 0px);}
        100% {transform: translate3d(0px, 0px, 0px);}
    }
    @keyframes animationMid {
        0% {transform: translate3d(1422px, 0px, 0px);}
        50% {transform: translate3d(0px, 0px, 0px);}
        100% {transform: translate3d(-1422px, 0px, 0px);}
    }
    @keyframes animationAfter {
        0% {transform: translate3d(2844px, 0px, 0px);}
        50% {transform: translate3d(1422px, 0px, 0px);}
        100% {transform: translate3d(0px, 0px, 0px);}
    }  
}

@media (max-width: 320px){
    #main {height: 270px;}
    .main {height: 270px;}
    
    .box ul li span {padding: 0 40px;}
    
    .product ul li a {font-size: 13px;}
    .product ul li span {font-size: 12px;}
}