@charset "utf-8";
@import url(reset.css);
@import url(common.css);

/* layout */
#contents {margin-bottom: 100px;}

/* contents */
.section {text-align: center; margin: 74px 0 40px;}
.section h2 {color: #000; font-size: 20px; font-weight: 700; padding: 20px; background: #f8f8f8;}
.section .sub_menu {width: 100%; background: #fff; z-index: 999;}
.section .sub_menu.on {position: fixed; top: 73px; left: 0;}
.section .sub_menu ul li {width: 100px; display: inline-block; padding: 16px; margin-left: -4px;}
.section .sub_menu ul li.active {border-bottom: 2px solid #555;}
.section .sub_menu ul li a {font-size: 16px;}

/* product */
.product {text-align: center;}
.product ul {margin-bottom: 20px;}
.product ul li {position: relative; float: left; width: 24%; margin-right: 1.3%; margin-bottom: 2%; text-align: center;}
.product ul li:nth-child(4n) {margin-right: 0;}
.product ul li a {font-size: 15px; font-family: 'Nanum Gothic', sans-serif; color: #000; word-break: keep-all;}
.product ul li span {display: block; margin-top: 4px; color: #666;}
.product ul li img {margin-bottom: 6px; transition: all .2s;}
.product ul li:hover img {opacity: .3;}
.product ul li::before {content: ''; width: 40px; height: 3px; border-radius: 5px; background: #666; position: absolute; left: 100%; top: 42%; transform: translate(-50%, -50%); z-index: 1; opacity: 0; transition: all .2s;}
.product ul li::after {content: ''; width: 3px; height: 40px; border-radius: 5px; background: #666; position: absolute; left: 50%; top: 0; transform: translate(-50%, -50%); z-index: 1; opacity: 0; transition: all .2s;}
.product ul li:hover::before {opacity: 1; left: 50%;}
.product ul li:hover::after {opacity: 1; top: 42%;}








/* 미디어 쿼리 */
@media (max-width: 1290px){
    .product ul li {width: 32.333%;}
    .product ul li:nth-child(3n) {margin-right: 0;}
    .product ul li:nth-child(4n) {margin-right: 1.3%;}
    .product ul li:nth-child(12) {margin-right: 0;}
    .product ul li:last-child {display: none;}
}

@media (max-width: 1024px){
    .row {padding: 0 60px;}
    
    .product ul li::before {display: none;}
    .product ul li::after {display: none;}
    .product ul li:hover img {opacity: 1;}
}

@media (max-width: 960px){
    .row {padding: 0 30px;}
}

@media (max-width: 768px){

}

@media (max-width: 600px){
    .row {padding: 0 16px;}
    
    #contents {margin: 100px 0 60px;}
    .section {display: none;}
    .product ul li {width: 49%; margin-bottom: 5%;}
    .product ul li:nth-child(2n) {margin-right: 0;}
    .product ul li:nth-child(3) {margin-right: 1.3%;}
    .product ul li:nth-child(9) {margin-right: 1.3%;}
    .product ul li:nth-child(15) {margin-right: 1.3%;}
    .product ul li:last-child {display: block;}
    .product ul li a {font-size: 14px;}
}

@media (max-width: 480px){
    .product ul {margin-bottom: 12px;} 
    .product ul li {text-align: left;}
}

@media (max-width: 320px){
    .product ul li a {font-size: 13px;}
}